<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeatLossCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeatLossCalc.Properties.Settings>
            <setting name="DirectorySettings" serializeAs="String">
                <value>C:\Users\fedor.aleksandrov\Desktop\настройки.json</value>
            </setting>
            <setting name="IsViewSynchronization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XceedLayout" serializeAs="String">
                <value>test</value>
            </setting>
        </HeatLossCalc.Properties.Settings>
    </userSettings>
</configuration>